@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif;
}
button {
    padding: 10px 20px;
    border: solid 2px #a4c2f4;
    border-radius: 50px;
    background: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: #a4c2f4;
    text-transform: uppercase;
}

button:hover {
    background-color: #a4c2f4;
    color: white;
    cursor: pointer;
}

button:focus {
    outline: none;    
}

button:active {
    border-style: solid;
}

button.btn-destructive {
    border-color: #ff3333;
    color: #ff3333
}

button.btn-destructive:hover {
    background-color: #ff3333;
    color: white;
}