@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif;
}
button {
    border: solid 2px #a4c2f4;
    border-radius: 50px;
    background: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: #a4c2f4;
    text-transform: uppercase;
    height: 40px;
    overflow: hidden;
    padding: 0px 20px;
}
button:disabled {
    border-color: #aaa;
    color: #aaa;
}
button:disabled:hover {
    background-color: white;
    color: #aaa;
}
button:hover {
    background-color: #a4c2f4;
    color: white;
    cursor: pointer;
}

button:focus {
    outline: none;    
}

button:active {
    border-style: solid;
}

button.btn-destructive {
    border-color: #ff3333;
    color: #ff3333
}

button.btn-destructive:hover {
    background-color: #ff3333;
    color: white;
}

.stacked > * {
    display: block;
}

.input-label {
    font-family: 'Nunito', sans-serif;
    font-size: 0.75em;
    margin-bottom: 5px;
}

.obs-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 35px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

.obs-inputs input {
    font-family: 'Nunito', sans-serif; 
    border-radius: 5px;
    border: 2px solid #a4c2f4;
    font-size: 1em;
    padding: 4px 10px;
    text-align: right;
    width: 100px;
}

.obs-inputs input#timestamp {
    width: 300px;
}

.obs-inputs input:focus {
    outline: none;
}

.obs-inputs .stacked {
    flex: 0 1;
    margin-bottom: 10px
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}